.tmx-table{
  max-width: 90%;
  overflow-x: visible;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.column-origin{
  width: 50%;  
}

.column-target{
  width: 50%;
}

.tmx-buttons{
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.tmx-buttons > button{
  margin: 1%;
}