.tmx-table{
  max-width: 90%;
  overflow-x: visible;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.column-origin{
  width: 50%;  
}

.column-target{
  width: 50%;
}

.tmx-buttons{
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.tmx-buttons > a{
  display: block;
}

.tmx-buttons > button{
  margin-top: 1%;  
}

.btn-area {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.btn-area > a{
  display: block;
  margin-left: 10px;  
}

.btn-area > div{
  display: block;   
}

.btn-area > div > a{
  margin-left: 10px;
}

.instructions {
  margin-bottom: 2%;
}

.file-uploaded > p {
  font-family: var(--bs-body-font-family);
  font-size: 16px;    
  text-align: center;
}
